<h1>Editing executive</h1>

<%= render "form", executive: @executive %>

<br>

<div>
  <%= link_to "Show this executive", @executive, :class => "btn btn-primary" %> |
  <%= link_to "Back to executives", executives_path, :class => "btn btn-primary" %>
</div>
